include ./common.pug

html 
    head
        +common_head
        title “南方”
    body
        .container.align-center.hfull.justify-center 
            .title(onclick="window.location='/'") “无物”
            // CSS is AWESOME!
            // div(style="border: solid 1px; padding: 4px; border-color: var(--black);font-size: 40px; width:5ch; font-family:var(--monospace); font-weight: lighter;") 404 is notfound