mixin common_head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css", rel="stylesheet", href="/web-resources/common.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/utils.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/mono-blue.min.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/dark.min.css")

mixin header
    .container.align-center.justify-center
        p.title(onclick="window.location='/'") “南方之诗” (WIP)