mixin common_head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(type="text/css", rel="stylesheet", href="/web-resources/common.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/utils.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/mono-blue.css")
    script(src="/web-resources/_all.js")

mixin header-with-word(words)
    .container.align-center.justify-center.horizontal
        p.title(onclick="window.location='/'") #{words}
        ul.container.align-center.justify-center.links
            li.link.mr2 #[a(onclick="alert('currently WIP!')" href="#").button 归档]
            li.link.mr2 #[a(onclick="alert('currently WIP!')" href="#").button 关于]

mixin header
    +header-with-word('“南方之诗”')

mixin wip
    div(style="position:fixed;left:8px;top:0;font-size:54px;font-weight:lighter;color:#88888844;width:calc((100% - 960px) / 2);overflow-wrap:break-word;").desktop-only Work in progress
