mixin common_head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="msapplication-TileColor", content="#227D51")
    meta(name="msapplication-config", content="/web-resources/favicons/browserconfig.xml")
    meta(name="theme-color", content="#227D51")
    link(type="text/css", rel="stylesheet", href="/web-resources/common.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/utils.css")
    link(type="text/css", rel="stylesheet", href="/web-resources/mono-blue.css")
    link(rel="apple-touch-icon", sizes="180x180", href="/web-resources/favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/web-resources/favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/web-resources/favicons/favicon-16x16.png")
    link(rel="manifest", href="/web-resources/favicons/site.webmanifest")
    link(rel="mask-icon", href="/web-resources/favicons/safari-pinned-tab.svg")
    link(rel="shortcut, icon", href="/web-resources/favicons/favicon.ico")
    link(rel="manifest", href="/web-resources/favicons/manifest.json")
    script(src="/web-resources/vos.js")

mixin header-with-word(words)
    .container.align-center.justify-center.horizontal
        p.title(onclick="window.location='/'") #{words}
        ul.container.align-center.justify-center.links
            li.link.mr2 #[a(href="https://pingcap.com").button 友链]

mixin header
    +header-with-word('“南方之诗”')

mixin wip
    div(style="position:fixed;left:8px;top:0;font-size:54px;font-weight:lighter;color:#88888844;width:calc((100% - 960px) / 2);overflow-wrap:break-word;").desktop-only Work in progress
