:root {
    --white: #F3F3F3;
    --white-darker: #E3E3E3;
    --white-darkest: #D3D3D3;
    --dark: #0C0C0C;
    --primary: #227D51;
    --primary-darker: #126D41;
    --primary-darkest: #025D31;
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: #373C38;
        --white-darker: #474C48;
        --white-darkest: #575C58;
        --dark: #F3F3F3;
        --primary: #227D51;
        --primary-darker: #328D51;
        --primary-darkest: #429D61;
    }
}

html {
    background-color: var(--white);
    color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
button,
em {
    font-family: '宋体', 'Times New Roman', Times, serif;
    color: var(--dark);
}

em {
    color: var(--primary-darkest);
}

.button,
.button-primary {
    font-size: 16px;
    border: none;
    border-radius: 2px;
    padding: 0.25em 0.5em;
    background: none;
    transition: background .3s;
}

.button:hover {
    background-color: var(--white-darker);
    cursor: pointer;
}

.button:active {
    background-color: var(--white-darkest);
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--primary-darker);
    cursor: pointer;
}

.button-primary:active {
    background-color: var(--primary-darkest);
    cursor: pointer;
}

.button-primary {
    color: var(--white);
    background-color: var(--primary);
}